.Board {
    position: relative;
    margin: 0 auto;
    background-color: #000;
    background-image:
        linear-gradient(#333 1px, transparent 1px),
        linear-gradient(90deg, #333 1px, transparent 1px);
}

.Cell {
    background: #ccc;
    position: absolute;
}

.controls {
    margin-top: 20px;
    position: fixed;
    bottom: 20px;
    padding: 20px;
    background-color: #fff;
}

.button {
    margin-left: 12px;
    cursor: pointer;
}

.BoardCont{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overflow: scroll;

}
select {
    margin-left: 10px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}